body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
/*-------------- Basic -------------------*/
#game {
  width: 100%;
}
#base {
  fill: #1f1b36;
}
#field {
  fill: #EFEFEF;
  stroke-width: 2px;
}
#field.ygreen {
  stroke: #448C0A;
}
#field.blue {
  stroke: #2F62B2;
}
#field.cyan {
  stroke: #17B4BA;
}
#field.purple {
  stroke: #9034BD;
}
#field.orange {
  stroke: #DB8D25;
}
/*-------------- Bricks ------------------*/
.ygreen {
  fill: #448C0A;
}
.blue {
  fill: #2F62B2;
}
.cyan {
  fill: #17B4BA;
}
.purple {
  fill: #9034BD;
}
.orange {
  fill: #DB8D25;
}
.brick {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.brick.remove {
  opacity: 0;
}
/*------------- Score ---------------------*/
.base-score {
  fill: white;
  font-size: 40px;
}
/*------------- Game Over -------------------*/
#game-over {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#game-over .text {
  color: #dbdbdb;
  margin-top: 36%;
  text-align: center;
  font-size: 140px;
  text-shadow: 0 0 79px black;
}
#game-over.show {
  opacity: 1;
}
