@base-color: #1F1B36;

body {
  margin: 0;
  padding: 0;
}

#game {
  width: 100%;
}

#base {
  fill: @base-color;
}

#field {
  fill: #EFEFEF;
}

.ygreen { fill: rgb(68, 140, 10); }
.blue { fill: #2F62B2; }
.cyan { fill: #17B4BA; }
.purple { fill: #9034BD; }
.orange { fill: #DB8D25; }